<div class="w-max mx-auto my-8">
  <div class="bg-white border border-gray-300 rounded-lg px-8 pt-6 pb-8">
    <h2 class="pt-4 mb-8 text-4xl font-bold heading">Organisation Details and Defaults</h2>

      <%= render 'form' %>

  </div>
</div>
