//
// Provides a drop-in pointer for the default Trix stylesheet that will format the toolbar and
// the trix-editor content (whether displayed or under editing). Feel free to incorporate this
// inclusion directly in any other asset bundle and remove this file.
//
//= require trix/dist/trix

// We need to override trix.css’s image gallery styles to accommodate the
// <action-text-attachment> element we wrap around attachments. Otherwise,
// images in galleries will be squished by the max-width: 33%; rule.
.trix-content {
  .attachment-gallery {
    > action-text-attachment,
    > .attachment {
      flex: 1 0 33%;
      padding: 0 0.5em;
      max-width: 33%;
    }

    &.attachment-gallery--2,
    &.attachment-gallery--4 {
      > action-text-attachment,
      > .attachment {
        flex-basis: 50%;
        max-width: 50%;
      }
    }
  }

  action-text-attachment {
    .attachment {
      padding: 0 !important;
      max-width: 100% !important;
    }
  }
}
.trix ul {
  list-style-type: disc;
  padding-left: 2.5rem;
}

.trix ol {
  list-style-type: decimal;
  padding-left: 2.5rem;
}

.trix h1 {
	font-size: 2em;
	font-weight: bold;
	margin: 0.67em 0;
}

.trix h2 {
	font-size: 1.5em;
	font-weight: bold;
	margin: 0.83em 0;
}

.trix h3 {
	font-size: 1.17em;
	font-weight: bold;
	margin: 1em 0;
}

.trix h4 {
	font-size: 1.00em;
	font-weight: bold;
	margin: 1.33em 0;
}

.trix h5 {
	font-size: 0.83em;
	font-weight: bold;
	margin: 1.67em 0;
}

.trix h6 {
	font-size: 0.67em;
	font-weight: bold;
	margin: 2.33em 0;
}

.trix q {
	quotes: "“" "”" "‘" "’";

	&:before {
		content: open-quote;
	}

	&:after {
		content: close-quote;
	}
}

trix-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
}


.trix-editor {
  max-height: 50rem !important;
  max-width: 100%;
  overflow-y: auto;
  overflow-x: auto;
  border-radius: 0.5rem;
  padding: 1rem;
}